accounts.yml
.aws/
.bash_history
.bashrc
bin
.cache/
.composer/
.config/
config.yml
.dbshell
develop-eggs
dist
downloads
eggs
.gitconfig
installed.cfg
.lesshst
MANIFEST
mbox
.mongorc.js
.node-gyp/
.npm/
.packer.d/
parts
.profile
.project
*.pyc
.pydevproject
*.pyo
.ropeproject
.settings/
src/*.egg-info
.ssh/
*.swp
/.tox
venv-ghost
.vim/
.viminfo
