ses_settings:
    aws_access_key: XXXXXXXXXXXXXXXXXX
    aws_secret_key: XXXXXXXXXXXXXXXXXX
    region: eu-west-1
bucket_s3: ghost-eu-west-1-***REMOVED***
bucket_region: eu-west-1
key_path: /Users/adrien/secure/my_key.pem
salt_formulas_branch: dev
ghost_root_path: /usr/local/share/ghost
max_deploy_history: 1
salt_formulas_repo: git@bitbucket.org:morea/morea-salt-formulas.git
