# Need to be set when used with docker-compose (docker link use DNS to map containers)
api_base_url: http://localhost:5000
redis_host: localhost
mongo_host: localhost

ses_settings:
    aws_access_key: XXXXXXXXXXXXXXXXXX
    aws_secret_key: XXXXXXXXXXXXXXXXXX
    mail_from: no-reply@morea.fr
    region: eu-west-1
bucket_s3: ghost-eu-west-1-***REMOVED***
bucket_region: eu-west-1

# Depending on the desired use case, set the `key_path` to one of the following:
#
# * a single key path if all EC2 instances in all regions use the same key
#
#    key_path: /home/admin/key/client_morea.pem
#
# * a mapping from regions to key paths if all EC2 instances in each region use the same key but they differ between regions
#
#    key_path:
#      eu-west-1: /home/admin/key/client_morea_eu-west-1.pem
#      us-west-2: /home/admin/key/client_morea_us-west-2.pem
#
# * mappings from regions to accounts to key paths if all EC2 instances in each region use the same key but they differ between regions and accounts
#
#    key_path:
#      eu-west-1:
#        '123456789': /home/admin/key/client_preprod_morea_eu-west-1.pem
#        '987654321': /home/admin/key/client_prod_morea_eu-west-1.pem
#      us-west-2:
#        '987654321': /home/admin/key/client_prod_morea_us-west-2.pem
#
# * mappings from regions to accounts to key names to key paths if all EC2 instances in each region use the same key but they differ between regions, accounts and instances
#
#    key_path:
#      eu-west-1:
#        default:                            /home/admin/key/morea-default-eu-west-1.pem
#        '123456789':
#          client_dev_morea_eu-west-1:       /home/admin/key/client_preprod_morea_eu-west-1.pem
#        '987654321':
#          client_prod_app1_morea_eu-west-1: /home/admin/key/client_prod_app1_morea_eu-west-1.pem
#          client_prod_app2_morea_eu-west-1: /home/admin/key/client_prod_app2_morea_eu-west-1.pem
#      us-west-2:
#        default:
#          morea-key-1: /home/admin/key/morea-default-key-1-us-west-2.pem
#          morea-key-2: /home/admin/key/morea-default-key-2-us-west-2.pem
#        '987654321':
#          client_prod_app1_morea_us-west-2: /home/admin/key/client_prod_app1_morea_us-west-2.pem
#
# A mix of the last three options can also be achieved:
#
#    key_path:
#      # Same key for all instances in the eu-west-1 region, no matter the account or key_name
#      eu-west-1: /home/admin/key/client_dev_morea_eu-west-1.pem
#      us-west-2:
#        # Same key for all instances in the eu-west-1 region and client_account_prod account, no matter key_name
#        '987654321': /home/admin/key/client_prod_morea_us-west-2.pem
#        '123456789':
#          # Key pair names mapping to local paths
#          client_dev_morea_eu-west-1:     /home/admin/key/client_dev_morea_us-west-2.pem
#          client_preprod_morea_eu-west-1: /home/admin/key/client_preprod_morea_us-west-2.pem
#
# Notes:
# - account ids must be quoted to be parsed as string instead of numbers.
#   Failing to do so with result in empty `key_path` as no match will be found.
# - no account id must be specified for applications in the same AWS account as Ghost.
#   In that case, use `default`.

key_path: /home/admin/key/client_morea.pem

salt_formulas_branch: dev
ghost_root_path: /usr/local/share/ghost
max_deploy_history: 1
salt_formulas_repo: git@bitbucket.org:morea/morea-salt-formulas.git

# Use ~/.ssh/config file (allows to map private IPs to public IPs for example)
use_ssh_config: false

# Select an RQ worker strategy:
# * one_worker_per_app: each app will have its own dedicated RQ queue and worker to process jobs (all parallel)
# * one_worker_per_env: app in the same env will share a dedicated RQ queue and worker (per env parallel)
# * one_worker_for_all : a single RQ queue and worker will process all jobs (all serial)
rq_worker_strategy: one_worker_for_all

# Deploy to target instances in serial (fabric's default) or in parallel
fabric_execution_strategy: serial

# Pagination for Eve
eve_pagination_default: 23

# Packer should install or not the Salt Minion when baking an Image
skip_salt_bootstrap: True

# LaunchConfiguration retention history per AutoScaling Group
launch_configuration_retention: 5

# Images (AMI) retention history per app
ami_retention: 5

# Also display AMIs from the following AWS accounts:
display_amis_from_aws_accounts:
  - '379101102735' # Debian global
  - '673060587306' # Debian China

# Blue/Green options
blue_green:
    enabled: false
    preparebluegreen:
        copy_ami: false
        module_deploy_required: false
    swapbluegreen:
        # Options to set on ELB HealthCheck when swapping
        healthcheck_interval: 5
        healthcheck_timeout: 2
        registreation_timeout: 60
        healthcheck_healthy_threshold: 2
    purgebluegreen:
        destroy_temporary_elb: true
