# This file is used by pip-compile to generate requirements.txt
# Everything you directly use in your source code should be a top-level dependency recorded here.
# Don't pin them unless you want them pinned, of course.
argparse
bcrypt
blinker                   # needed at runtime for flask events
boto
boto3
click
Eve
Fabric
Flask
Flask-Bootstrap
Flask-Login
Flask-SocketIO
Flask-WTF
gevent
gevent-websocket
gunicorn                  # needed at runtime
Jinja2
pip-tools
pymongo
PyYAML
redis
requests
rq
rq-dashboard
setproctitle
sh
six
subprocess32
tox
Werkzeug
WTForms
yapf
