# This file is used by pip-compile to generate requirements.txt
# Everything you directly use in your source code should be a top-level dependency recorded here.
# Don't pin them unless you want them pinned, of course.
ansible
argparse
awscli                    # needed in some buildpacks but dependent on botocore which is a transitive dependency of boto3 and upgraded
bcrypt
blinker                   # needed at runtime for flask events
boto
boto3
click
eve-swagger
Eve
Fabric
Flask
Flask-Bootstrap
Flask-Login
Flask-SocketIO
Flask-WTF
gevent
gevent-websocket
gunicorn                  # needed at runtime
Jinja2
ndg-httpsclient
pip-tools
psutil
pyasn1
pymongo
pyopenssl
PyYAML
redis
requests
rq
rq-dashboard
setproctitle
sh
six
subprocess32
tox
uwsgi
Werkzeug
WTForms
yapf
