{% extends "base_template.html.j2" %}

{% block header %}

<div class="">
	<div style="line-height:120%;color:#555555;font-family:'Montserrat', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 30px; padding-bottom: 5px;">	
		<div style="font-size:12px;line-height:14px;font-family:Montserrat, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;color:#555555;text-align:left;"><p style="margin: 0;font-size: 12px;line-height: 14px;text-align: center"><span style="font-size: 48px; line-height: 57px;"><strong><span style="line-height: 57px; font-size: 48px;">Cloud Deploy job triggered by </span><strong>{{user}}</strong></span></span></strong></span></p></div>	
	</div>
</div>

{% endblock %}


{% block content %}

&nbsp;
<table align="center" class="table table-hover center" style="margin-top: 20px; margin-bottom: 20px; font-family:arial,helvetica,sans-serif;max-width: 600px">
    <tbody>
        <tr style="background-color:{{status_color}};color:rgb(255, 255, 255)">
            <td><span><strong><span>Status</span></strong></span></td>
            <td><strong><span>{{status}}</span></strong></td>
        </tr>
        <tr>
            <td><span><strong><span>Application</span></strong></span></td>
            <td>{{app}}</td>
        </tr>
        <tr>
            <td><span><strong><span>Environment</span></strong></span></td>
            <td>{{env}}</td>
        </tr>
        <tr>
            <td><span><strong><span>Role</span></strong></span></td>
            <td>{{role}}</td>
        </tr>
        <tr>
            <td><span><strong><span>Command</span></strong></span></td>
            <td>{{command}}</td>
        </tr>
        <tr>
            <td><span><strong><span>Job ID</span></strong></span></td>
            <td><a href="{{ghost_url}}/web/jobs/{{jobId}}" target="_blank">{{jobId}}</a></td>
        </tr>
        <tr>
            <td><span><strong><span>Job message</span></strong></span></td>
            <td><pre>{{message}}</pre></td>
        </tr>
        <tr>
            <td><strong><span><span>Creation date</span></span></strong></td>
            <td>{{creation_date}}</td>
        </tr>
        <tr>
            <td><strong><span><span>End date</span></span></strong></td>
            <td>{{end_date}}</td>
        </td>
    </tbody>
</table>
&nbsp;

{% endblock %}